#main {
	height: 100%;
	width: 100%;
	margin: 0 0 4em 0;
	padding: 0;
	white-space: pre;
	font-family: monospace;
}

#footer {
	position: fixed;
	height: 2em;
	bottom: 0;
	background-color: white;
	width: 100%;
}

#input {
	width: 90%;
	border: solid 1px black;
}
